{% extends "auth_base.html" %}{% block title %}Profile{% endblock %}{% block
content %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='cart.css')}}" />
{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <head>
      TANGINAMOCarts
    </head>
    <div>
      <li>
        <a href="{{ url_for('views.home') }}">Back</a>
      </li>
    </div>
  </body>
</html>
{% endblock %}
