{% extends "auth_base.html" %} {% block title %}Change Password{% endblock %} {%
block content %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='change_password.css') }}"
/>
{% endblock %}
<form method="POST">
  <div class="change_password-container">
    <h3 align="center">Change Password</h3>
    <input
      type="password"
      class="form-control"
      id="current_password"
      name="current_password"
      placeholder="Enter current password"
      required
    />
    <br />
    <input
      type="password"
      class="form-control"
      id="new_password"
      name="new_password"
      placeholder="Enter new password"
      required
    />
    <br />
    <input
      type="password"
      class="form-control"
      id="confirm_new_password"
      name="confirm_new_password"
      placeholder="Confirm new password"
      required
    />
    <button type="submit" class="btn btn-primary">Update Password</button>
    <p>
      don't wantt to change password?
      <a href="{{url_for('auth.profile')}}">Profile</a>
    </p>
  </div>
</form>
{% endblock %}
