{% extends "base.html" %} {% block title %}Sign Up{% endblock %}{% block content
%}{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='sign_up.css') }}"
/>{% endblock %}
<form method="POST">
  <div class="sign_up-container">
    <h3 align="center">Sign Up</h3>
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />

    <label for="first_name">First Name</label>
    <input
      type="text"
      class="form-control"
      id="first_name"
      name="first_name"
      placeholder="Enter first name"
    />

    <label for="middle_name">Middle Name</label>
    <input
      type="text"
      class="form-control"
      id="middle_name"
      name="middle_name"
      placeholder="Enter middle name"
    />

    <label for="last_name">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="last_name"
      name="last_name"
      placeholder="Enter last name"
    />
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter Password"
    />

    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
