body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 2rem;
}

h1,
h2 {
  color: #333;
}

.request {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex; /* Align buttons in a row */
  justify-content: center; /* Center the buttons horizontally */
  gap: 5px; /* Reduce spacing between buttons */
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.accept {
  background-color: #28a745;
  color: white;
}

button.reject {
  background-color: #dc3545;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.supply-info {
  display: block; /* Align buttons in a row */
  justify-content: center; /* Center the buttons horizontally */
  gap: 5px; /* Reduce spacing between buttons */
  text-decoration: none;
}

.logout-button {
  display: inline-block;
  margin-left: auto;
  background-color: #dc3545;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.logout-button:hover {
  background-color: #c82333;
}
